@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

.gothic-font {
  font-family: 'UnifrakturCook', cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/public/camo_bg.jpeg');
  /* Path to your image */
  background-size: cover;
  /* Ensure the image covers the whole page */
  background-position: center;
  /* Center the background image */
  background-attachment: fixed;
  /* Keep the image fixed during scroll */
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}