.about-container {
    display: flex;
    height: 90vh;
    /* Full height of the viewport */
    align-items: center;
    /* Align children to the top */
    justify-content: space-between;
    /* Align items on both ends */
    position: relative;
    /* For positioning the pseudo-element */
    margin-right: 100px;
}

/* Pseudo-element for the fade effect */
.about-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    /* Adjust the height to control the fade effect */
    background: linear-gradient(to bottom, transparent, #f3f3f3 50%);
    /* This gradient fades from transparent to the color of the page background */
    z-index: 2;
    /* Above content but below any absolutely positioned elements */
}

.about-section {
    padding: 20px 20px 10px 100px;
    width: 100%;
    align-items: center;
    flex-basis: 60%;
    /* Adjust the width of both sections */
}


.about-section h2 {
    font-size: 3rem;
    /* Slightly smaller than the Home section header */
    color: #000000;
    /* Consistent text color for headers */
    margin-bottom: 20px;
    /* Space below the header */
    text-align: left;
}

.about-section p {
    color: #666;
    /* Consistent text color */
    font-size: 1.5rem;
    /* Standard font size for body text */
    line-height: 1.6;
    /* Line height for improved readability */
    max-width: 75%;
    /* Max width to control line length */
    margin-bottom: 20px;
    /* Space between paragraphs */
    text-align: left;
}

.about-image-container {
    flex-grow: 1;
    /* Take up half the space */
}

.about-photo {
    width: 40%;
    /* Adjust size as needed */
    max-width: 1000px;
    /* Adjust max-width as needed */
    height: auto;
    border-radius: 10px;
    /* Adjust for rounded corners */
}

.back-to-songs {
    display: block;
    /* Show the button */
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    /* Span the full width */
    padding: 10px 0;
    /* A thin button */
    background: rgba(110, 110, 110, 0.3);
    /* Semi-transparent black for visibility */
    color: white;
    /* Text color */
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    /* Center the text */
    z-index: 10;
    /* Above other content */
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    /* Start with button transparent */
}

/* Show the button with a smooth transition when it should appear */
.back-to-songs.visible {
    opacity: 1;
    /* Full visibility */
}

.back-to-songs:hover {
    background: rgba(100, 100, 100, 0.4);
}

/* Contact Section */

.contact-section {
    padding: 20px 20px 10px 100px;
    width: 100%;
    align-items: center;
    flex-basis: 40%;
    /* Adjust the width of both sections */
}

.contact-section h2 {
    font-size: 3rem;
    /* Slightly smaller than the Home section header */
    color: #000000;
    /* Consistent text color for headers */
    margin-bottom: 20px;
    /* Space below the header */
    text-align: right;
}

.contact-section p {
    color: #666;
    /* Consistent text color */
    font-size: 1.5rem;
    /* Standard font size for body text */
    line-height: 1.6;
    /* Line height for improved readability */
    margin-bottom: 20px;
    /* Space between paragraphs */
    text-align: right;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
}

.contact-form textarea {
    height: 150px;
}

/* Hover and focus states for inputs */
.contact-form input:hover,
.contact-form input:focus,
.contact-form textarea:hover,
.contact-form textarea:focus {
    border-color: #333;
    /* Darker border color on hover/focus */
    outline: none;
    /* Remove default focus outline */
}


.submit-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #555;
}