.about-container {
    height: 90vh;
    /* Full height of the viewport */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Align items on both ends */
    position: relative;
    /* For positioning the pseudo-element */
}

/* Pseudo-element for the fade effect */
.about-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    /* Adjust the height to control the fade effect */
    background: linear-gradient(to bottom, transparent, #f3f3f3 50%);
    /* This gradient fades from transparent to the color of the page background */
    z-index: 2;
    /* Above content but below any absolutely positioned elements */
}

.about-section {
    padding: 20px 20px 10px 100px;
    width: 50%;
    align-items: center;
    /* Consistent padding with the Home section */
}

.about-section h2 {
    font-size: 2rem;
    /* Slightly smaller than the Home section header */
    color: #000000;
    /* Consistent text color for headers */
    margin-bottom: 20px;
    /* Space below the header */
    text-align: left;
}

.about-section p {
    color: #666;
    /* Consistent text color */
    font-size: 1rem;
    /* Standard font size for body text */
    line-height: 1.6;
    /* Line height for improved readability */
    max-width: 800px;
    /* Max width to control line length */
    margin-bottom: 20px;
    /* Space between paragraphs */
    text-align: left;
}

.about-image-container {
    flex-grow: 1;
    /* Take up half the space */
}

.about-photo {
    width: 60%;
    /* Adjust size as needed */
    max-width: 1000px;
    /* Adjust max-width as needed */
    height: auto;
    border-radius: 10px;
    /* Adjust for rounded corners */
}