.home-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    /* Align items on both ends */
    gap: 20px;
    /* Adds space between the text content and logo */
    min-height: 100vh;
}

.home-text {
    width: 60%;
    /* Adjust the width as needed */
    padding: 20px;
    /* Add some padding */

}

.home-text h1 {
    margin-bottom: 20px;
    /* Space below the header */
    font-size: 5.5rem;
    /* Large, eye-catching font size */
    color: var(--strong-text-color);
    /* Strong color for contrast */
    /* text-shadow: rgb(125, 125, 125) 1px 0 10px; */
    text-align: center;

}

.home-text p {
    font-size: 1.75rem;
    /* Slightly larger font size for readability */
    color: var(--text-color);
    /* Medium-dark color for the text */
    max-width: 600px;
    /* Max width to control line length */
    margin: 0 auto 30px;
    /* Center the paragraph with auto left/right margins */
    text-align: center;
}

.home-search-container {
    /* Full height of the viewport */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    /* Align items on both ends */
    padding: 40px;
    /* Add some padding */
}

.home-photo {
    width: 100%;
    /* Take up all available width */
    height: 100%;
    /* Take up all available height */
    object-fit: cover;
    /* Cover the space without stretching */
}


.explore-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    /* Adjust as needed */
    margin-top: 20px;
}

.explore-btn:hover {
    background-color: #333;
    /* Slight hover effect */
    border-color: var(--strong-text-color);
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /* Adjust alignment for mobile */
        width: 100%;
    }

    .home-text {
        width: 75%;
        /* Full width for mobile */
        text-align: center;
        /* Center text for better readability */
    }

    .home-text h1 {
        font-size: 4rem;
        /* Adjust font size for smaller screens */
    }

    .home-text p {
        font-size: 1.5rem;
        /* Adjust font size for smaller screens */
    }

    .home-image-container {
        display: none;
        /* Hide the image container on mobile */
    }

    .home-search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 80%;
        /* Add padding for better spacing */
    }
}