.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    /* Adjust the background color as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: adds a subtle shadow for depth */
    padding: 0 20px;
    z-index: 1000;
    /* Ensure navbar stays on top of other content */
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* Adjust the space between links */
}

.navbar-links button {
    text-decoration: none;
    color: #333;
    /* Adjust link color as needed */
    font-weight: bold;
    transition: color 0.3s ease;
    /* Smooth transition for the color change */
}

.navbar-links button:hover,
.navbar-links button:focus {
    /* Ensure accessibility for keyboard navigation */
    color: #000000;
    /* Color changes on hover */
    text-shadow: rgb(150, 150, 150) 1px 0 5px;
}

.navbar-contact button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #000000;
    /* Adjust button background color as needed */
    color: white;
    border: none;
    border-radius: 0px;
    transition: background-color 0.3s ease;
    /* Smooth transition for background color change */
}

.navbar-contact button:hover,
.navbar-contact button:focus {
    /* Ensure accessibility for keyboard navigation */
    background-color: #333333;
    /* Darker shade on hover/focus */
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
}

/* Add :hover effects for links and button as needed */

/* Mobile-specific adjustments */
@media (max-width: 768px) {
    .navbar-title {
        display: none;
        /* Hide the title on smaller screens */
    }

    .navbar-contact button {
        font-size: 0;
        /* Hide the text inside the button */
        padding: 10px;
        /* Adjust padding */
        width: 40px;
        /* Fixed width for the icon */
        height: 40px;
        /* Fixed height for the icon */
    }

    .navbar-contact button:before {
        content: "\f007";
        /* FontAwesome user icon */
        font-family: "Font Awesome 5 Free";
        /* Ensure this matches your FontAwesome version */
        font-weight: 900;
        /* FontAwesome solid style */
        font-size: 16px;
        /* Icon size */
        color: white;
        /* Icon color */
    }

    .navbar-links {
        gap: 15px;
        /* Smaller gap between links */
    }
}