/* General container styles */
.database-container {
    max-height: 85vh;
    overflow-y: auto;
    margin: 20px 30px;
}

/* Scrollbar styles */
.database-container::-webkit-scrollbar {
    width: 16px;
}

.database-container::-webkit-scrollbar-thumb {
    background: #777;
}

.database-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Table styles */
.songs-table {
    width: 100%;
    border-collapse: collapse;
}

.songs-table th,
.songs-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Sticky header styles */
.songs-table thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    /* Solid background for sticky header */
    z-index: 2;
}

/* Zebra striping with consideration for sticky header */
.songs-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.songs-table tr:nth-child(even) {
    background-color: #efefef;
    /* Ensure there's a distinction for even rows */
}

.songs-table tr:hover {
    background-color: #e9e9e9;
}

/* Active sort column highlighting */
.songs-table th.active-sort {
    background-color: darkgrey;
}

/* Adjusted select box styles for filters */
.songs-table select {
    width: 100%;
    padding: 4px;
    margin: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}